@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.footerContainer {
  display: flex;
  width: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 1px solid white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
}

.footerText {
  font-size: 0.7rem;
  font-family: "Goldman", "Orbitron", sans-serif;
}
