@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

#HeaderTitle {
  color: white;
  text-align: center;
  font-family: "Goldman", "Orbitron", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 7px;
  margin-bottom: 20px;

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
