@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

#homeDeck {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-around;
}

.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 3rem auto;
  flex-flow: wrap;
  justify-content: center;
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 60rem;
  border-radius: 1.5rem;
  padding: 1%;
  color: white;
  font-size: 1.5rem;
  font-family: "Goldman", "Orbitron", sans-serif;
  text-align: center;
}

#warning {
  color: yellow;
}

#Skills {
  justify-content: space-between;
  height: 50%;
}

.SkillsList {
  width: 30%;
  h3 {
    color: rgb(255, 136, 0);
  }
}
